<section class="form mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card bg-white p-4 mb-4">
          <div class="card-body">
            <h1><i class="fas fa-user-plus"></i> Register</h1>
            <p>
              Register to list your bootcamp or rate, review and favorite
              bootcamps
            </p>
            <form #registerForm="ngForm" (ngSubmit)="submitForm(registerForm)">
              <div class="alert alert-danger" *ngIf="verify || emailError">
                <span *ngIf="verify">* Please verify the form<br></span>

                <span *ngIf="emailError">* A user with same email already exist !</span>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter full name"
                  [(ngModel)]="user.name" #name="ngModel" [ngClass]="{
                  'is-invalid': (name.errors && (name.touched || name.dirty || verify))
                }" required />
                <span class="invalid-feedback" [hidden]="!name.errors?.required">
                  Name is required
                </span>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email" [(ngModel)]="user.email"
                  #email="ngModel" [ngClass]="{
                  'is-invalid': (email.errors && (email.touched || email.dirty || verify))
                }" required email />
                <span class="invalid-feedback" [hidden]="!email.errors?.required">
                  Email is required
                </span>
                <span class="invalid-feedback" [hidden]="!email.errors?.email">
                  Please enter a valid email
                </span>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password"
                  [(ngModel)]="user.password" #password="ngModel" [ngClass]="{
                  'is-invalid': (password.errors && (password.touched ||  password.dirty || verify))
                }" required minlength="6" />
                <span class="invalid-feedback" [hidden]="!password.errors?.required">
                  Password is required
                </span>
                <span class="invalid-feedback" [hidden]="!password.errors?.minlength">
                  Password must be at least 6 characters
                </span>
              </div>
              <div class="form-group mb-4">
                <label for="password2">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password"
                  [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" [ngClass]="{
                  'is-invalid': (confirmPassword.errors && (confirmPassword.touched ||confirmPassword.dirty|| verify))
                }" required minlength="6" />
                <span class="invalid-feedback" [hidden]="!confirmPassword.errors?.required">
                  Confirm password is required
                </span>
                <span class="invalid-feedback" [hidden]="!confirmPassword.errors?.minlength">
                  Confirm password must be at least 6 characters
                </span>
              </div>

              <div class="card card-body mb-3">
                <h5>User Role</h5>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="role" value="user" [(ngModel)]="user.role"
                    checked />
                  <label class="form-check-label">
                    Regular User (Browse, Write reviews, etc)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="role" value="publisher" [(ngModel)]="user.role" />
                  <label class="form-check-label">
                    Bootcamp Publisher
                  </label>
                </div>
              </div>
              <p class="text-danger">
                * You must be affiliated with the bootcamp in some way in
                order to add it to DevCamper.
              </p>
              <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary btn-block" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
