<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']"><i class="fas fa-laptop-code"></i> DevCamper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" *ngIf="authenticateService.isUserLoggedIn()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              <i class="fas fa-user"></i> Account
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['manageBootcamp']">Manage Bootcamp</a>
              <a class="dropdown-item" [routerLink]="['manageReviews']">Manage Reviews</a>
              <a class="dropdown-item" [routerLink]="['manageAccount']">Manage Account</a>
              <a *ngIf="role==='admin'" class="dropdown-item" [routerLink]="['addBootcamp']">Add bootcamps</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>
                Logout</a>
            </div>
          </li>

        </ul>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']" *ngIf="!authenticateService.isUserLoggedIn()"><i
              class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['register']" *ngIf="!authenticateService.isUserLoggedIn()"><i
              class="fas fa-user-plus"></i> Register</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="javascript:">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['bootcamps']">Browse Bootcamps</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
