<section class="bootcamp mt-5">
  <div class="container">
    <div class="row">
      <!-- Main col -->
      <div class="col-md-8">
        <a href="javascript:" (click)="showBootcamp()" class="btn btn-secondary my-3"><i
            class="fas fa-chevron-left"></i>
          Bootcamp Info</a>
        <h1 class="mb-4">DevWorks Bootcamp Reviews</h1>
        <!-- Reviews -->
        <div class="card mb-3" *ngFor="let review of reviews">
          <h5 class="card-header bg-dark text-white">{{review.title}}</h5>
          <div class="card-body">
            <h5 class="card-title">
              Rating: <span class="text-success">{{review.rating}}</span>
            </h5>
            <p class="card-text">
              {{review.text}}
            </p>
            <p class="text-muted">Writtern By {{review.user.name}}</p>
          </div>
        </div>


      </div>
      <!-- Sidebar -->
      <div class="col-md-4">
        <!-- Rating -->
        <h1 class="text-center my-4">
          <span class="badge badge-secondary badge-success rounded-circle p-3">{{rating}}</span>
          Rating
        </h1>
        <!-- Buttons -->
        <a href="add-review.html" class="btn btn-primary btn-block my-3"><i class="fas fa-pencil-alt"></i> Review This
          Bootcamp</a>
      </div>
    </div>
  </div>
</section>
