<section class="container mt-5">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="card bg-white py-2 px-4">
        <div class="card-body">
          <a href="javascript:" (click)="manageBootcamp()" class="btn btn-link text-secondary my-3"><i
              class="fas fa-chevron-left"></i>
            Manage Bootcamp</a>
          <h1 class="mb-4">Manage Courses</h1>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="img/image_1.jpg" class="card-img" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="bootcamp.html">{{bootcamp?.name}}
                      <span class="float-right badge badge-success">4.9</span></a>
                  </h5>
                  <span classs="badge badge-dark mb-2">{{bootcamp?.location.city}},
                    {{bootcamp?.location.country}}</span>
                  <p class="card-text">
                    Web Development, UI/UX, Mobile Development
                  </p>
                </div>
              </div>
            </div>
          </div>

          <a href="javascript:" (click)="addCourse()" class="btn btn-primary btn-block mb-4">Add Bootcamp Course</a>
          <table class="table table-striped" *ngIf="courses && courses?.length!=0">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>{{course.title}}</td>
                <td>
                  <a href="add-course.html" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                  <button class="btn btn-danger">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
